{{#partial "content"}}
<div class="d-flex align-items-center flex-column">
<h4>Your sightings has successfully been recorded!</h4>
<div>
<a href="/sighten/main" class="btn btn-outline-info">VIEW ALL SIGHTINGS</a>
</div>
</div>
{{/partial}}
{{>layout.hbs}}